# Ignore model files
*.keras
*.h5
*.p

# Ignore dataset and checkpoints directories
ASL_Dataset/
.ipynb_checkpoints/

# Ignore pickle files
*.pickle

# Ignore Jupyter Notebook checkpoints and hidden files
*.ipynb_checkpoints

# Optionally ignore Jupyter Notebook files
*.ipynb
